<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        {% block content %}
            <header>
                <nav>
                    <ul>
                        {% if user is authenticated %}
                            <li>
                                <a href="{% url 'logout' %}">logout</a>
                            </li>
                        {% else %}
                            <li>
                                <a href="{% url 'login' %}">login</a>
                            </li>
                            <li>
                                <a href="{% url 'signup' %}">signup</a>
                            </li>
                        {% endif %}
                    </ul>
                </nav>
            </header>
        {% endblock content %}
    </body>
</html>
