{% extends 'base.html' %}

{% block content %}
    <main>
        <h1>Tasks</h1>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Assignee</th>
                    <th>Start date</th>
                    <th>Due date</th>
                    <th>Is completed</th>
                </tr>
            </thead>
            <tbody>
                {% for apple in project_object.tasks.all %}
                    <tr>
                        <td>{{ apple.task_name }}</td>
                        <td>{{ apple.assignee }}</td>
                        <td>{{ apple.startdate }}</td>
                        <td>{{ apple.duedate }}</td>
                        <td>{{ apple.is_completed|yesno }}</td>
                        <td>{{ receipt.account.name }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </main>
{% endblock content %}
