{% block content %}
    <!DOCTYPE html>
    <html lang="en">
        <head>
            <meta charset="UTF-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>My Projects</title>
        </head>
        <body>
            <main>
                {% if user.is_authenticated %}
                    <div>
                        <h1>My Projects</h1>
                        {% if project_list|length > 0 %}
                            <table>
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Number of tasks</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for banana in project_list %}
                                        <tr>
                                            <td>
                                                <a href="{% url 'show_project' banana.id %}">{{ banana.name }}</a>
                                            </td>
                                            <td>{{ banana.tasks.all|length }}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        {% else %}
                            <p>You are not assigned to any projects</p>
                        {% endif %}
                    </div>
                {% endif %}
            </main>
        {% endblock content %}
    </body>
</html>
