<!-- {% extends 'base.html' %}
 -->
{% block content %}
    <main>
        <div>
            <h1>Project Alpha</h1>
            {% if not tasks.all %}
                <p>The first assessment project in my bootcamp.</p>
                <h2>Tasks</h2>
                <p>This project has no tasks</p>
            {% else %}
                <p>
                    <a href={% url 'create_task' %}>Create a new task</a>
                </p>
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Assignee</th>
                            <th>Start date</th>
                            <th>Due date</th>
                            <th>Is completed</th>
                        </tr>
                    </thead>
                {% endif %}
                <tbody>
                    {% for projects in projects.all %}
                        <tr>
                            <td>
                                <a href={% url 'show_project' project %}>{{ task.name }}</a>
                            </td>
                            <td>
                                <a href={% url 'show_project' project %}>{{ task.assignee }}</a>
                            </td>
                            <td>
                                <a href={% url 'show_project' project %}>{{ task.start }}</a>
                            </td>
                            <td>
                                <a href={% url 'show_project' project %}>{{ task.iscompleted }}</a>
                            </td>
                            <td>
                                <a href={% url 'show_project' project %}>{{ value|yesno:"yesno" }}</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <!-- <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button>Show details</button>
      </form> -->
        </div>
    </main>
{% endblock content %}
